@keyframes move {
    0% { background-position: 0 0; }
    25% { background-position: 0 25; }
    50% { background-position: 0 50; }
    75% { background-position: 0 75; }
    100% { background-position: 100% 0; }
}
.animate-move {
    animation: move 5s linear infinite;
}