@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-1: 'Nunito', sans-serif;
  --var-2: 'Montserrat', sans-serif;
}

body {
  font-family: var(--var-1);
}

.font-montserrat{
  font-family: var(--var-2);
  text-align: center;
  font-size: var(--font-size-12, 0.75rem);
  font-style: normal;
  font-weight: var(--font-weight-500, 500);
  line-height: var(--line-height-24, 1.5rem); /* 200% */
  text-transform: uppercase;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--var-2);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
